@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #f8fafc;
        /* slate-50 */
        --foreground: #1e293b;
        /* slate-800 */
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: #0f172a;
            /* slate-900 */
            --foreground: #e2e8f0;
            /* slate-200 */
        }
    }

    html {
        font-size: 90%;
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}